In [51]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

Here the results from 'Adult EDA" file are going to be used

In [52]:
# %run "Adult EDA.ipynb"

In [53]:
adult_columns = [
    "Age",
    "Workclass",
    "final weight",
    "Education",
    "Education-Num",
    "Marital Status",
    "Occupation",
    "Relationship",
    "Ethnic group",
    "Sex",
    "Capital Gain",
    "Capital Loss",
    "Hours per week",
    "Country",
    "Income",
]

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", 
                 header = None, names = adult_columns)

In [54]:
df = df.drop(['Education-Num'], axis = 'columns')

## 1. Features preprocessing

First all variables have to be transformed to numerical format to feed them to Logit function:

In [55]:
_ = df['Income'].replace({' <=50K': 0, 
                             ' >50K': 1}, 
                            inplace = True)

In [56]:
numerical_features_list = ['Age', 'Capital Gain', 'Capital Loss', 'Hours per week', 'final weight']
numerical_features_df = df[numerical_features_list]
numerical_features_df

       Age  Capital Gain  Capital Loss  Hours per week  final weight
0       39          2174             0              40         77516
1       50             0             0              13         83311
2       38             0             0              40        215646
3       53             0             0              40        234721
4       28             0             0              40        338409
...    ...           ...           ...             ...           ...
32556   27             0             0              38        257302
32557   40             0             0              40        154374
32558   58             0             0              40        151910
32559   22             0             0              20        201490
32560   52         15024             0              40        287927

[32561 rows x 5 columns]

In [57]:
X_train = df.drop(['Income'], axis = 'columns')
y_train = df['Income']

In [58]:
stand_scaler = StandardScaler()

In [59]:
def scale_numerical(numerical_features):
    X_train[numerical_features.columns.values] = stand_scaler.fit_transform(numerical_features.values)
    
scale_numerical(numerical_features_df)

In [60]:
X_train.sample()

,Age,Workclass,final weight,Education,Marital Status,Occupation,Relationship,Ethnic group,Sex,Capital Gain,Capital Loss,Hours per week,Country
28426,-0.775768,Private,-0.070436,HS-grad,Never-married,Other-service,Not-in-family,Black,Male,-0.14592,-0.21666,-0.035429,United-States

In this dataset we have only one feature, where the order matters - Education. Let's transform it using OrdinalEncoder.

In [61]:
edu_encoder = OrdinalEncoder(categories=[[' Preschool',' 1st-4th',' 5th-6th',' 7th-8th',' 9th',' 10th',' 11th',
                                      ' 12th',' HS-grad',' Some-college',' Assoc-voc',' Assoc-acdm', 
                                      ' Bachelors',' Masters',' Prof-school',' Doctorate']])

In [62]:
def encode_edu():
    X_train[['Education']] = edu_encoder.fit_transform(df[['Education']])
    
encode_edu()

For all the rest of categorical features the order does not matter, hense we can label encode them

In [63]:
categorical_features_df = X_train[['Workclass', 'Marital Status', 'Occupation', 'Relationship', 'Ethnic group', 'Sex', 'Country']]

In [64]:
def dumm_categorical(categolical_df: pd.DataFrame, x_df:pd.DataFrame) -> pd.DataFrame:
    for col in categolical_df:
        dum_df = pd.get_dummies(x_df[col], drop_first=True, columns = x_df[col].unique(), prefix=col)
        x_df = x_df.drop(col, axis = 'columns')
        x_df = pd.concat([x_df, dum_df], axis=1, join='inner')
    return x_df
X_train = dumm_categorical(categorical_features_df, X_train)
X_train.sample()

,Age,final weight,Education,Capital Gain,Capital Loss,Hours per week,Workclass_ Federal-gov,Workclass_ Local-gov,Workclass_ Never-worked,Workclass_ Private,...,Country_ Portugal,Country_ Puerto-Rico,Country_ Scotland,Country_ South,Country_ Taiwan,Country_ Thailand,Country_ Trinadad&Tobago,Country_ United-States,Country_ Vietnam,Country_ Yugoslavia
6611,2.01011,-1.086179,8.0,-0.14592,-0.21666,-1.250276,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [65]:
X_tr, X_test, y_tr, y_test = train_test_split(X_train, y_train, test_size= 0.2)

In [66]:
X_tr.shape

(26048, 85)

In [67]:
y_tr.shape

(26048,)

## Initial model without changes in data

In [68]:
model = sm.Logit(y_tr, X_tr).fit()
print(model.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.318321
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Income   No. Observations:                26048
Model:                          Logit   Df Residuals:                    25964
Method:                           MLE   Df Model:                           83
Date:                Wed, 29 Mar 2023   Pseudo R-squ.:                  0.4199
Time:                        22:08:32   Log-Likelihood:                -8291.6
converged:                      False   LL-Null:                       -14293.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=========================================================================================================
                                            coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
Age                                       0.3289      0.025     13.290      0.000       0.280       0.377
final weight                              0.0760      0.020      3.768      0.000       0.036       0.116
Education                                 0.2518      0.010     24.902      0.000       0.232       0.272
Capital Gain                              2.3512      0.086     27.354      0.000       2.183       2.520
Capital Loss                              0.2519      0.017     15.028      0.000       0.219       0.285
Hours per week                            0.3757      0.022     16.876      0.000       0.332       0.419
Workclass_ Federal-gov                    1.1001   1.07e+06   1.03e-06      1.000   -2.09e+06    2.09e+06
Workclass_ Local-gov                      0.4454   1.07e+06   4.18e-07      1.000   -2.09e+06    2.09e+06
Workclass_ Never-worked                 -22.5382   1.68e+05     -0.000      1.000   -3.28e+05    3.28e+05
Workclass_ Private                        0.6172   1.07e+06   5.79e-07      1.000   -2.09e+06    2.09e+06
Workclass_ Self-emp-inc                   0.7517   1.07e+06   7.06e-07      1.000   -2.09e+06    2.09e+06
Workclass_ Self-emp-not-inc               0.2075   1.07e+06   1.95e-07      1.000   -2.09e+06    2.09e+06
Workclass_ State-gov                      0.2205   1.07e+06   2.07e-07      1.000   -2.09e+06    2.09e+06
Workclass_ Without-pay                  -22.8578   1.07e+06  -2.14e-05      1.000   -2.09e+06    2.09e+06
Marital Status_ Married-AF-spouse        -1.9288      0.592     -3.257      0.001      -3.089      -0.768
Marital Status_ Married-civ-spouse       -2.5887      0.275     -9.399      0.000      -3.128      -2.049
Marital Status_ Married-spouse-absent    -0.3621      0.254     -1.424      0.154      -0.861       0.136
Marital Status_ Never-married            -0.6717      0.095     -7.074      0.000      -0.858      -0.486
Marital Status_ Separated                -0.3230      0.186     -1.737      0.082      -0.687       0.041
Marital Status_ Widowed                  -0.1062      0.170     -0.625      0.532      -0.439       0.227
Occupation_ Adm-clerical                 -0.2797   1.07e+06  -2.63e-07      1.000   -2.09e+06    2.09e+06
Occupation_ Armed-Forces                 -0.8352   1.07e+06  -7.84e-07      1.000   -2.09e+06    2.09e+06
Occupation_ Craft-repair                 -0.2121   1.07e+06  -1.99e-07      1.000   -2.09e+06    2.09e+06
Occupation_ Exec-managerial               0.5209   1.07e+06   4.89e-07      1.000   -2.09e+06    2.09e+06
Occupation_ Farming-fishing              -1.2981   1.07e+06  -1.22e-06      1.000   -2.09e+06    2.09e+06
Occupation_ Handlers-cleaners            -1.0710   1.07e+06  -1.01e-06      1.000   -2.09e+06    2.09e+06
Occupation_ Machine-op-inspct            -0.6230   1.07e+06  -5.85e-07      1.000   -2.09e+06    2.09e+06
Occupation_ Other-service                -1.1630   1.07e+06  -1.09e-06      1.000   -2.09e+06    2.09e+06
Occupation_ Priv-house-serv             -15.1269   1.07e+06  -1.42e-05      1.000   -2.09e+06    2.09e+06
Occupation_ Prof-specialty                0.3653   1.07e+06   3.43e-07      1.000   -2.09e+06    2.09e+06
Occupation_ Protective-serv               0.3026   1.07e+06   2.84e-07      1.000   -2.09e+06    2.09e+06
Occupation_ Sales                         0.0105   1.07e+06   9.84e-09      1.000   -2.09e+06    2.09e+06
Occupation_ Tech-support                  0.3424   1.07e+06   3.21e-07      1.000   -2.09e+06    2.09e+06
Occupation_ Transport-moving             -0.4482   1.07e+06  -4.21e-07      1.000   -2.09e+06    2.09e+06
Relationship_ Not-in-family              -4.1713      0.276    -15.126      0.000      -4.712      -3.631
Relationship_ Other-relative             -3.9453      0.330    -11.950      0.000      -4.592      -3.298
Relationship_ Own-child                  -5.2167      0.313    -16.689      0.000      -5.829      -4.604
Relationship_ Unmarried                  -4.4040      0.280    -15.709      0.000      -4.953      -3.855
Relationship_ Wife                        1.0966      0.113      9.739      0.000       0.876       1.317
Ethnic group_ Asian-Pac-Islander         -1.0830      0.260     -4.160      0.000      -1.593      -0.573
Ethnic group_ Black                      -1.1620      0.206     -5.653      0.000      -1.565      -0.759
Ethnic group_ Other                      -1.3151      0.348     -3.784      0.000      -1.996      -0.634
Ethnic group_ White                      -0.9186      0.190     -4.843      0.000      -1.290      -0.547
Sex_ Male                                 0.6777      0.087      7.810      0.000       0.508       0.848
Country_ Cambodia                         1.1104      0.628      1.768      0.077      -0.121       2.341
Country_ Canada                          -0.1311      0.317     -0.414      0.679      -0.752       0.490
Country_ China                           -0.6590      0.425     -1.549      0.121      -1.493       0.175
Country_ Columbia                        -2.2964      0.830     -2.768      0.006      -3.923      -0.670
Country_ Cuba                            -0.0361      0.380     -0.095      0.924      -0.780       0.708
Country_ Dominican-Republic              -2.1673      1.056     -2.053      0.040      -4.237      -0.098
Country_ Ecuador                         -0.5747      0.751     -0.765      0.444      -2.047       0.898
Country_ El-Salvador                     -1.5177      0.628     -2.416      0.016      -2.749      -0.286
Country_ England                         -0.1237      0.378     -0.327      0.744      -0.864       0.617
Country_ France                           0.0796      0.656      0.121      0.903      -1.206       1.366
Country_ Germany                          0.1678      0.299      0.562      0.574      -0.418       0.754
Country_ Greece                          -1.6321      0.678     -2.406      0.016      -2.961      -0.303
Country_ Guatemala                       -0.4806      0.791     -0.608      0.543      -2.031       1.070
Country_ Haiti                           -0.8575      0.963     -0.891      0.373      -2.744       1.029
Country_ Holand-Netherlands             -13.9223   3836.977     -0.004      0.997   -7534.258    7506.414
Country_ Honduras                        -1.3387      2.363     -0.566      0.571      -5.971       3.293
Country_ Hong                            -0.6040      0.739     -0.818      0.413      -2.052       0.844
Country_ Hungary                         -0.9808      0.927     -1.058      0.290      -2.797       0.836
Country_ India                           -0.5333      0.370     -1.443      0.149      -1.258       0.191
Country_ Iran                             0.0417      0.495      0.084      0.933      -0.929       1.013
Country_ Ireland                          0.5750      0.736      0.781      0.435      -0.868       2.018
Country_ Italy                            0.1520      0.410      0.371      0.711      -0.652       0.956
Country_ Jamaica                         -0.3693      0.525     -0.703      0.482      -1.399       0.660
Country_ Japan                            0.0014      0.473      0.003      0.998      -0.925       0.928
Country_ Laos                            -1.2745      1.154     -1.105      0.269      -3.536       0.987
Country_ Mexico                          -1.2559      0.295     -4.259      0.000      -1.834      -0.678
Country_ Nicaragua                       -1.1176      0.807     -1.384      0.166      -2.700       0.465
Country_ Outlying-US(Guam-USVI-etc)     -18.4894   6060.207     -0.003      0.998   -1.19e+04    1.19e+04
Country_ Peru                            -0.7526      0.931     -0.809      0.419      -2.577       1.071
Country_ Philippines                      0.1420      0.317      0.449      0.654      -0.479       0.763
Country_ Poland                          -0.4963      0.442     -1.123      0.262      -1.363       0.370
Country_ Portugal                        -0.3216      0.650     -0.495      0.621      -1.595       0.952
Country_ Puerto-Rico                     -0.6107      0.432     -1.412      0.158      -1.458       0.237
Country_ Scotland                        -0.4576      0.967     -0.473      0.636      -2.353       1.438
Country_ South                           -1.5686      0.519     -3.024      0.002      -2.585      -0.552
Country_ Taiwan                          -0.2402      0.521     -0.461      0.645      -1.261       0.781
Country_ Thailand                        -0.7879      0.848     -0.929      0.353      -2.451       0.875
Country_ Trinadad&Tobago                 -1.0047      1.104     -0.910      0.363      -3.169       1.160
Country_ United-States                   -0.3070      0.143     -2.146      0.032      -0.588      -0.027
Country_ Vietnam                         -1.8240      0.840     -2.171      0.030      -3.471      -0.177
Country_ Yugoslavia                       0.6882      0.776      0.887      0.375      -0.833       2.210
=========================================================================================================

/Users/nadiiaduiunova/opt/anaconda3/envs/final_env/lib/python3.9/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))

# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))

According to Logit Regression Results there are 2 statistically insignificant features: final weight and occupation. Let's remove them for the following models

## Same model, but without 'final weight'

In [45]:
def reset_xy (df):
    X = df.drop(['Income', 'final weight'], axis = 'columns')
    y = df['Income']
    return X, y

In [46]:
X_train, y_train = reset_xy(df)

In [47]:
num_no_fw = X_train[['Age', 'Capital Gain', 'Capital Loss', 'Hours per week']]
scale_numerical(num_no_fw)

In [48]:
encode_edu()
X_train = dumm_categorical(categorical_features_df, X_train)

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X_train, y_train, test_size= 0.2)
X_train

,Age,Education,Capital Gain,Capital Loss,Hours per week,Workclass_ Federal-gov,Workclass_ Local-gov,Workclass_ Never-worked,Workclass_ Private,Workclass_ Self-emp-inc,...,Country_ Portugal,Country_ Puerto-Rico,Country_ Scotland,Country_ South,Country_ Taiwan,Country_ Thailand,Country_ Trinadad&Tobago,Country_ United-States,Country_ Vietnam,Country_ Yugoslavia
6666,1.423610,6.0,-0.14592,-0.21666,0.612489,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
9078,-1.142331,11.0,-0.14592,-0.21666,-0.035429,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
18988,-0.922393,8.0,-0.14592,-0.21666,-0.845327,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
10681,1.350297,5.0,-0.14592,-0.21666,-0.035429,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
30777,-1.435581,9.0,-0.14592,-0.21666,-2.627102,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13030,1.130359,8.0,-0.14592,-0.21666,-0.035429,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
3261,-0.922393,8.0,-0.14592,-0.21666,-0.035429,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
27544,-1.142331,9.0,-0.14592,-0.21666,0.531499,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
2854,-0.849080,9.0,-0.14592,-0.21666,-0.035429,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
15272,-1.288956,8.0,-0.14592,-0.21666,-0.035429,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [50]:
model = sm.Logit(y_train, X_train).fit()
print(model.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.320364
         Iterations: 35

LinAlgError: Singular matrix

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))

# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))

The model still performs san in minority class detection

## Same model, but with Capital paremeters logged

In [ ]:
X_train, y_train = reset_xy(df)

In [ ]:
def capital_log():
    X_train['Capital Gain'] = np.log(1+ X_train['Capital Gain'])
    X_train['Capital Loss'] = np.log(1+ X_train['Capital Loss'])
    
capital_log()

In [ ]:
num_no_capital = X_train[['Age', 'Hours per week']]
scale_numerical(num_no_capital)

In [ ]:
X_train.head(2)

In [ ]:
encode_edu()
X_train = dumm_categorical(categorical_features_df, X_train)

In [ ]:
X_train.head()

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)

In [ ]:
model = sm.Logit(y_train, X_train).fit()
print(model.summary())

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))
# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))

## Logistic regression with previous data transformation

In [ ]:
X_train, y_train = reset_xy(df)

For this modela all parameters, that have huge imbalance in their values, are changes to binary with categories:
1. Most popular alue or the feature
2. All other values together

In [ ]:
def balance_predictors():
    X_train['Ethnic group'] = np.where(X_train['Ethnic group'] != ' White', 'Other', X_train['Ethnic group'])
    X_train['Country'] = np.where(X_train['Country'] != ' United-States', 'Other', X_train['Country'])
    X_train['Workclass'] = np.where(X_train['Workclass'] != ' Private', 'Other', X_train['Workclass'])
    
balance_predictors()
X_train.sample(3)

In [ ]:
encode_edu()

capital_log()

scale_numerical(num_no_fw)

In [ ]:
X_train.sample()

In [ ]:
X_train = dumm_categorical(categorical_features_df, X_train)

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)

In [ ]:
model = sm.Logit(y_train, X_train).fit()
print(model.summary())

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))

# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))

## Oversampling target

In [ ]:
# count_class_0, count_class_1 = df['Income'].value_counts()

# y0 = df[df['Income'] == 0]
# y1 = df[df['Income'] == 1]

In [ ]:
# print(y0.shape)
# print(y1.shape)

In [ ]:
# y1_over = y1.sample(count_class_0, replace = True)

In [ ]:
# df = pd.concat([y0, y1_over], axis = 0)

In [ ]:
# df.shape

In [ ]:
# X, y = reset_xy(df)

In [ ]:
# balance_predictors()

In [ ]:
# encode_edu()

In [ ]:
# capital_log()

In [ ]:
# num_no_capital = X[['Age', 'Hours per week']]
# scale_numerical(num_no_capital)

In [ ]:
# categorical_features_df = X[['Workclass', 'Marital Status', 'Relationship', 'Ethnic group', 'Country']]
# X = dumm_categorical(categorical_features_df, X)

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)
# X_train.sample(3)

In [ ]:
# model = sm.Logit(y_train, X_train).fit()
# print(model.summary())

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))

# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))