In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
from statsmodels.api import Logit
from sklearn.preprocessing import StandardScaler, OrdinalEncoder, LabelEncoder, OneHotEncoder
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import confusion_matrix, classification_report

from sklearn.pipeline import make_union, make_pipeline
from sklearn.preprocessing import FunctionTransformer
from sklearn.compose import ColumnTransformer, make_column_selector

from sklearn.linear_model import LogisticRegression
from sklearn import set_config

Here the results from 'Adult EDA" file are going to be used

In [2]:
# %run "Adult EDA.ipynb"

In [3]:
adult_columns = [
    "Age",
    "Workclass",
    "final weight",
    "Education",
    "Education-Num",
    "Marital Status",
    "Occupation",
    "Relationship",
    "Ethnic group",
    "Sex",
    "Capital Gain",
    "Capital Loss",
    "Hours per week",
    "Country",
    "Income",
]

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", 
                 header = None, names = adult_columns)

In [4]:
df = df.drop(['Education-Num'], axis = 'columns')

In [5]:
categorical_features_list = ['Workclass', 'Marital Status', 'Occupation', 
                             'Relationship', 'Ethnic group', 'Sex', 'Country']

In [6]:
for col in categorical_features_list:
    print(f'{col}\n{df[col].value_counts()}\n')

Workclass
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: Workclass, dtype: int64

Marital Status
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: Marital Status, dtype: int64

Occupation
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: Occupation, dtype: int64

Relationship
 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: Relationship, dtype: int64

Ethnic group
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: Ethnic group, dtype: int64

Sex
 Male      21790
 Female    10771
Name: Sex, dtype: int64

Country
 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Laos                             18
 Thailand                         18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: Country, dtype: int64

As in the whole dataset (X) we have only one 'Holand-Netherlands' value in 'Country' column, we have to process it separately, because in case if it appears in the test set, model will not be able to predict target for such a record. For the initial model, where there are no changes in data, this observation will be removed

In [7]:
print(df.shape)
df.drop(df.loc[df['Country']==' Holand-Netherlands'].index, inplace=True)
print(df.shape)

(32561, 14)
(32560, 14)

In [8]:
X_df = df.drop(['Income'], axis = 'columns')
y_df = df['Income']

In [9]:
X, X_test, y, y_test = train_test_split(X_df, y_df, test_size= 0.2)

## 1. Features preprocessing

First all variables have to be transformed to numerical format to feed them to Logit function:

In [10]:
X_train = X.copy()
y_train = y.copy()

In [11]:
X_train.head()

,Age,Workclass,final weight,Education,Marital Status,Occupation,Relationship,Ethnic group,Sex,Capital Gain,Capital Loss,Hours per week,Country
20788,51,Private,24344,Assoc-acdm,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
1933,25,Private,211231,HS-grad,Married-civ-spouse,Tech-support,Other-relative,White,Female,0,0,48,United-States
12656,20,Private,299399,Some-college,Never-married,Sales,Own-child,White,Female,0,0,20,United-States
3478,35,Private,340428,Bachelors,Never-married,Sales,Unmarried,White,Female,0,0,40,United-States
12129,33,Private,70447,HS-grad,Never-married,Transport-moving,Other-relative,Asian-Pac-Islander,Male,0,0,40,United-States

In this dataset we have only one feature, where the order matters - Education. Let's transform it using OrdinalEncoder. For all the rest of categorical features the order does not matter, hense we can apply OneHotEncoder() to them

## Initial model without changes in data

In [12]:
numerical_features_list = ['Age', 'final weight', 'Capital Gain', 'Capital Loss']

In [13]:
columntransformer = ColumnTransformer(transformers = [
    ('ordinal', OrdinalEncoder(categories=[[' Preschool',' 1st-4th',' 5th-6th',' 7th-8th',' 9th',' 10th',' 11th',
                                      ' 12th',' HS-grad',' Some-college',' Assoc-voc',' Assoc-acdm', 
                                      ' Bachelors',' Masters',' Prof-school',' Doctorate']]),
     make_column_selector(pattern = 'Education')),
    ('stand scaler', StandardScaler(), numerical_features_list),
    ('onehot', OneHotEncoder(dtype='int', drop='first'), categorical_features_list)],
    remainder='drop')

In [14]:
full_pipe = make_pipeline(columntransformer,
                          LogisticRegression(max_iter=500))

In [15]:
set_config(display="diagram")
full_pipe

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(transformers=[('ordinal',
                                                  OrdinalEncoder(categories=[[' '
                                                                              'Preschool',
                                                                              ' '
                                                                              '1st-4th',
                                                                              ' '
                                                                              '5th-6th',
                                                                              ' '
                                                                              '7th-8th',
                                                                              ' '
                                                                              '9th',
                                                                              ' '
                                                                              '10th',
                                                                              ' '
                                                                              '11th',
                                                                              ' '
                                                                              '12th',
                                                                              ' '
                                                                              'HS-grad',
                                                                              ' '
                                                                              'Some-college',
                                                                              ' '
                                                                              'Assoc-voc',
                                                                              ' '
                                                                              'Assoc-acdm',
                                                                              ' '
                                                                              'Bachelors',
                                                                              ' '
                                                                              'Masters',
                                                                              ' '
                                                                              'Prof-school',
                                                                              ' '
                                                                              'Doctorate']]),
                                                  <sklearn.compose._column_transformer.make_column_selector object at 0x16f06a730>),
                                                 ('stand scaler',
                                                  StandardScaler(),
                                                  ['Age', 'final weight',
                                                   'Capital Gain',
                                                   'Capital Loss']),
                                                 ('onehot',
                                                  OneHotEncoder(drop='first',
                                                                dtype='int'),
                                                  ['Workclass',
                                                   'Marital Status',
                                                   'Occupation', 'Relationship',
                                                   'Ethnic group', 'Sex',
                                                   'Country'])])),
                ('logisticregression', LogisticRegression(max_iter=500))])

In [16]:
first = full_pipe.fit(X_train, y_train)

In [17]:
y_pred = first.predict(X_train)
y_pred

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' <=50K'],
      dtype=object)

In [18]:
scores = cross_val_score(first, X_train, y_train, cv=5, scoring='f1_macro')

In [19]:
print(f"f1 score: mean = {round(np.mean(scores),2)} | std = {round(np.std(scores),2)}")

f1 score: mean = 0.78 | std = 0.0

In [20]:
print(classification_report(y_train, y_pred, target_names=y_train.unique()))

              precision    recall  f1-score   support

       <=50K       0.88      0.93      0.90     19748
        >50K       0.73      0.60      0.66      6300

    accuracy                           0.85     26048
   macro avg       0.81      0.76      0.78     26048
weighted avg       0.84      0.85      0.84     26048

## Same model, but without 'final weight'

In [21]:
numerical_features_list = ['Age', 'Capital Gain', 'Capital Loss']

In [22]:
columntransformer = ColumnTransformer(transformers = [
    ('ordinal', OrdinalEncoder(categories=[[' Preschool',' 1st-4th',' 5th-6th',' 7th-8th',' 9th',' 10th',' 11th',
                                      ' 12th',' HS-grad',' Some-college',' Assoc-voc',' Assoc-acdm', 
                                      ' Bachelors',' Masters',' Prof-school',' Doctorate']]),
     make_column_selector(pattern = 'Education')),
    ('stand scaler', StandardScaler(), numerical_features_list),
    ('onehot', OneHotEncoder(dtype='int', drop='first'), categorical_features_list)],
    remainder='drop')

In [23]:
full_pipe = make_pipeline(columntransformer,
                          LogisticRegression(max_iter=500))

In [24]:
second = full_pipe.fit(X_train, y_train)

In [25]:
y_pred = second.predict(X_train)
y_pred

array([' <=50K', ' <=50K', ' <=50K', ..., ' <=50K', ' <=50K', ' <=50K'],
      dtype=object)

In [26]:
scores = cross_val_score(second, X_train, y_train, cv=5, scoring='f1_macro')

In [27]:
print(f"f1 score: mean = {round(np.mean(scores),2)} | std = {round(np.std(scores),2)}")

f1 score: mean = 0.78 | std = 0.0

In [28]:
print(classification_report(y_train, y_pred, target_names=y_train.unique()))

              precision    recall  f1-score   support

       <=50K       0.88      0.93      0.90     19748
        >50K       0.73      0.60      0.66      6300

    accuracy                           0.85     26048
   macro avg       0.81      0.76      0.78     26048
weighted avg       0.84      0.85      0.84     26048

In [ ]:
# feature_names = second.named_steps["columntransformer"].get_feature_names_out()
# coefs = second.named_steps["logisticregression"].coef_.flatten()

In [ ]:
# print(len(feature_names), len(coefs))

In [ ]:
# zipped = zip(feature_names, coefs)

In [ ]:
# df = pd.DataFrame(zipped, columns=["feature", "value"])
# df.head()

In [ ]:
# df["abs_value"] = df["value"].apply(lambda x: abs(x))
# df["colors"] = df["value"].apply(lambda x: "green" if x > 0 else "red")
# df = df.sort_values("abs_value", ascending=False)

In [ ]:
# fig, ax = plt.subplots(1, 1, figsize=(7, 12))
# sns.barplot(x="value",
#             y="feature",
#             data=df,
#            palette=df["colors"])
# ax.set_yticklabels(ax.get_yticklabels(), fontsize=7)
# ax.set_title("Top Features", fontsize=20)
# ax.set_ylabel("Feature Name", fontsize=15)
# ax.set_xlabel("Coef", fontsize=15)

## Transform dataset with columntransformer to get significance of features with Logit()

In [29]:
numerical_features_list = ['Age', 'Capital Gain', 'Capital Loss']

In [30]:
categorical_features_list = ['Workclass', 'Marital Status', 'Occupation', 
                             'Relationship', 'Ethnic group', 'Sex', 'Country']

In [31]:
columntransformer1 = ColumnTransformer(transformers = [
    ('ordinal', OrdinalEncoder(categories=[[' Preschool',' 1st-4th',' 5th-6th',' 7th-8th',' 9th',' 10th',' 11th',
                                      ' 12th',' HS-grad',' Some-college',' Assoc-voc',' Assoc-acdm', 
                                      ' Bachelors',' Masters',' Prof-school',' Doctorate']]),
     make_column_selector(pattern = 'Education')),
    ('stand_scaler', StandardScaler(), numerical_features_list),
    ('onehot', OneHotEncoder(dtype='int', drop='first'), categorical_features_list)],
    remainder='drop')

In [32]:
X_train.head()

,Age,Workclass,final weight,Education,Marital Status,Occupation,Relationship,Ethnic group,Sex,Capital Gain,Capital Loss,Hours per week,Country
20788,51,Private,24344,Assoc-acdm,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States
1933,25,Private,211231,HS-grad,Married-civ-spouse,Tech-support,Other-relative,White,Female,0,0,48,United-States
12656,20,Private,299399,Some-college,Never-married,Sales,Own-child,White,Female,0,0,20,United-States
3478,35,Private,340428,Bachelors,Never-married,Sales,Unmarried,White,Female,0,0,40,United-States
12129,33,Private,70447,HS-grad,Never-married,Transport-moving,Other-relative,Asian-Pac-Islander,Male,0,0,40,United-States

In [33]:
X_trans = columntransformer1.fit_transform(X_train).toarray()
x_columns_names = columntransformer1.get_feature_names_out()
X_trans = pd.DataFrame(X_trans, columns = x_columns_names)
X_trans.head()

,ordinal__Education,stand_scaler__Age,stand_scaler__Capital Gain,stand_scaler__Capital Loss,onehot__Workclass_ Federal-gov,onehot__Workclass_ Local-gov,onehot__Workclass_ Never-worked,onehot__Workclass_ Private,onehot__Workclass_ Self-emp-inc,onehot__Workclass_ Self-emp-not-inc,...,onehot__Country_ Portugal,onehot__Country_ Puerto-Rico,onehot__Country_ Scotland,onehot__Country_ South,onehot__Country_ Taiwan,onehot__Country_ Thailand,onehot__Country_ Trinadad&Tobago,onehot__Country_ United-States,onehot__Country_ Vietnam,onehot__Country_ Yugoslavia
0,11.0,0.909148,-0.144899,-0.219032,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,8.0,-0.999116,-0.144899,-0.219032,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,9.0,-1.366090,-0.144899,-0.219032,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,12.0,-0.265169,-0.144899,-0.219032,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,8.0,-0.411958,-0.144899,-0.219032,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [34]:
y_train_df = pd.DataFrame(y_train)
onehot = OneHotEncoder(dtype='int', drop='first')
y_trans = onehot.fit_transform(y_train_df)
y_column_name = onehot.get_feature_names_out()
y_trans = pd.DataFrame.sparse.from_spmatrix(y_trans, columns=y_column_name)
y_trans

       Income_ >50K
0                 0
1                 1
2                 0
3                 1
4                 0
...             ...
26043             0
26044             0
26045             0
26046             0
26047             0

[26048 rows x 1 columns]

In [36]:
model = Logit(y_trans, X_trans).fit_regularized()
print(model.summary())

Optimization terminated successfully    (Exit mode 0)
            Current function value: 0.32888086903278857
            Iterations: 581
            Function evaluations: 583
            Gradient evaluations: 581
                           Logit Regression Results
==============================================================================
Dep. Variable:           Income_ >50K   No. Observations:                26048
Model:                          Logit   Df Residuals:                    25966
Method:                           MLE   Df Model:                           81
Date:                Mon, 03 Apr 2023   Pseudo R-squ.:                  0.4055
Time:                        17:25:24   Log-Likelihood:                -8566.7
converged:                       True   LL-Null:                       -14410.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=================================================================================================================
                                                    coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------------------------------------
ordinal__Education                                0.2610      0.010     26.093      0.000       0.241       0.281
stand_scaler__Age                                 0.2589      0.024     10.889      0.000       0.212       0.305
stand_scaler__Capital Gain                        2.4630      0.089     27.646      0.000       2.288       2.638
stand_scaler__Capital Loss                        0.2579      0.016     15.729      0.000       0.226       0.290
onehot__Workclass_ Federal-gov                    0.8425   1.44e+06   5.86e-07      1.000   -2.82e+06    2.82e+06
onehot__Workclass_ Local-gov                      0.1449   1.44e+06   1.01e-07      1.000   -2.82e+06    2.82e+06
onehot__Workclass_ Never-worked                  -3.0978     11.750     -0.264      0.792     -26.127      19.931
onehot__Workclass_ Private                        0.2855   1.44e+06   1.98e-07      1.000   -2.82e+06    2.82e+06
onehot__Workclass_ Self-emp-inc                   0.6472   1.44e+06    4.5e-07      1.000   -2.82e+06    2.82e+06
onehot__Workclass_ Self-emp-not-inc              -0.1061   1.44e+06  -7.37e-08      1.000   -2.82e+06    2.82e+06
onehot__Workclass_ State-gov                      0.0101   1.44e+06   7.05e-09      1.000   -2.82e+06    2.82e+06
onehot__Workclass_ Without-pay                  -10.4878   1.44e+06  -7.29e-06      1.000   -2.82e+06    2.82e+06
onehot__Marital Status_ Married-AF-spouse        -2.3733      0.576     -4.121      0.000      -3.502      -1.245
onehot__Marital Status_ Married-civ-spouse       -2.9570      0.275    -10.750      0.000      -3.496      -2.418
onehot__Marital Status_ Married-spouse-absent    -0.1533      0.250     -0.613      0.540      -0.644       0.337
onehot__Marital Status_ Never-married            -0.7448      0.094     -7.941      0.000      -0.929      -0.561
onehot__Marital Status_ Separated                -0.2610      0.173     -1.507      0.132      -0.600       0.078
onehot__Marital Status_ Widowed                  -0.0840      0.163     -0.516      0.606      -0.403       0.235
onehot__Occupation_ Adm-clerical                  0.3900   1.44e+06   2.71e-07      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Armed-Forces                 -0.3832   1.44e+06  -2.66e-07      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Craft-repair                  0.4799   1.44e+06   3.34e-07      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Exec-managerial               1.2738   1.44e+06   8.85e-07      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Farming-fishing              -0.3507   1.44e+06  -2.44e-07      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Handlers-cleaners            -0.2664   1.44e+06  -1.85e-07      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Machine-op-inspct             0.1041   1.44e+06   7.24e-08      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Other-service                -0.4291   1.44e+06  -2.98e-07      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Priv-house-serv             -10.2025   1.44e+06  -7.09e-06      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Prof-specialty                1.0584   1.44e+06   7.36e-07      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Protective-serv               0.9783   1.44e+06    6.8e-07      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Sales                         0.7772   1.44e+06    5.4e-07      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Tech-support                  1.0565   1.44e+06   7.34e-07      1.000   -2.82e+06    2.82e+06
onehot__Occupation_ Transport-moving              0.3755   1.44e+06   2.61e-07      1.000   -2.82e+06    2.82e+06
onehot__Relationship_ Not-in-family              -4.4921      0.276    -16.262      0.000      -5.034      -3.951
onehot__Relationship_ Other-relative             -4.4138      0.331    -13.333      0.000      -5.063      -3.765
onehot__Relationship_ Own-child                  -5.5593      0.310    -17.932      0.000      -6.167      -4.952
onehot__Relationship_ Unmarried                  -4.7734      0.281    -17.007      0.000      -5.324      -4.223
onehot__Relationship_ Wife                        0.9860      0.111      8.903      0.000       0.769       1.203
onehot__Ethnic group_ Asian-Pac-Islander         -0.9460      0.253     -3.734      0.000      -1.442      -0.449
onehot__Ethnic group_ Black                      -1.0909      0.202     -5.396      0.000      -1.487      -0.695
onehot__Ethnic group_ Other                      -1.4241      0.357     -3.994      0.000      -2.123      -0.725
onehot__Ethnic group_ White                      -0.8542      0.188     -4.555      0.000      -1.222      -0.487
onehot__Sex_ Male                                 0.7307      0.085      8.622      0.000       0.565       0.897
onehot__Country_ Cambodia                         1.1645      0.655      1.777      0.076      -0.120       2.449
onehot__Country_ Canada                          -0.4049      0.319     -1.269      0.204      -1.030       0.220
onehot__Country_ China                           -1.0952      0.449     -2.440      0.015      -1.975      -0.215
onehot__Country_ Columbia                        -2.2494      0.831     -2.707      0.007      -3.878      -0.621
onehot__Country_ Cuba                            -0.0550      0.348     -0.158      0.874      -0.736       0.626
onehot__Country_ Dominican-Republic              -2.1466      1.053     -2.039      0.041      -4.210      -0.083
onehot__Country_ Ecuador                         -0.6855      0.743     -0.922      0.356      -2.142       0.771
onehot__Country_ El-Salvador                     -1.7118      0.656     -2.609      0.009      -2.998      -0.426
onehot__Country_ England                         -0.4702      0.374     -1.256      0.209      -1.204       0.263
onehot__Country_ France                           0.0445      0.527      0.084      0.933      -0.989       1.077
onehot__Country_ Germany                         -0.1078      0.309     -0.348      0.727      -0.714       0.498
onehot__Country_ Greece                          -1.3890      0.607     -2.287      0.022      -2.579      -0.199
onehot__Country_ Guatemala                       -0.8197      0.765     -1.072      0.284      -2.319       0.679
onehot__Country_ Haiti                            0.0610      0.666      0.092      0.927      -1.245       1.367
onehot__Country_ Honduras                        -1.5557      1.871     -0.831      0.406      -5.223       2.112
onehot__Country_ Hong                            -0.4309      0.733     -0.588      0.557      -1.867       1.005
onehot__Country_ Hungary                         -0.8625      0.767     -1.124      0.261      -2.366       0.641
onehot__Country_ India                           -0.9251      0.357     -2.588      0.010      -1.626      -0.224
onehot__Country_ Iran                            -0.6577      0.463     -1.421      0.155      -1.565       0.249
onehot__Country_ Ireland                         -0.0008      0.657     -0.001      0.999      -1.289       1.287
onehot__Country_ Italy                            0.4611      0.364      1.267      0.205      -0.252       1.174
onehot__Country_ Jamaica                         -0.4849      0.467     -1.039      0.299      -1.400       0.430
onehot__Country_ Japan                           -0.1560      0.470     -0.332      0.740      -1.078       0.766
onehot__Country_ Laos                            -0.7055      0.877     -0.805      0.421      -2.424       1.013
onehot__Country_ Mexico                          -0.8840      0.262     -3.379      0.001      -1.397      -0.371
onehot__Country_ Nicaragua                       -1.5953      1.109     -1.438      0.150      -3.769       0.579
onehot__Country_ Outlying-US(Guam-USVI-etc)     -10.7358    125.004     -0.086      0.932    -255.739     234.268
onehot__Country_ Peru                            -2.3141      1.169     -1.980      0.048      -4.605      -0.024
onehot__Country_ Philippines                      0.0856      0.305      0.281      0.779      -0.512       0.684
onehot__Country_ Poland                          -1.0804      0.528     -2.047      0.041      -2.115      -0.046
onehot__Country_ Portugal                        -0.1786      0.667     -0.268      0.789      -1.486       1.128
onehot__Country_ Puerto-Rico                     -0.7491      0.432     -1.733      0.083      -1.596       0.098
onehot__Country_ Scotland                        -0.0422      1.067     -0.040      0.968      -2.134       2.050
onehot__Country_ South                           -0.9950      0.502     -1.982      0.048      -1.979      -0.011
onehot__Country_ Taiwan                          -0.5491      0.497     -1.106      0.269      -1.522       0.424
onehot__Country_ Thailand                        -1.3653      1.157     -1.180      0.238      -3.634       0.903
onehot__Country_ Trinadad&Tobago                 -0.6915      0.881     -0.784      0.433      -2.419       1.036
onehot__Country_ United-States                   -0.4054      0.141     -2.876      0.004      -0.682      -0.129
onehot__Country_ Vietnam                         -1.4189      0.625     -2.271      0.023      -2.643      -0.194
onehot__Country_ Yugoslavia                      -0.0643      0.729     -0.088      0.930      -1.492       1.364
=================================================================================================================

According to Logit() results, all of numerical fiature are statistically significant. Some categoties in a couple of categotical features have to be clustered as they are insignificant. 
1. Workclasses representatives, that do not work or work without pay will deffinetely have less than 50k, so can become one cluster.
2. From Marital Status feature we can cluster together those, who have no partner and those who have
3. All categories of Occupation are insignificant, so could be removed from the model. But before, they will be left like this, as from the EDA we saw that this feature is significant
3. All categories of Relationship, Ethnic Group and Sex features are significant.
4. Most of countries have no impact on target, it's possible to cluster them by the part of the world. 

Also, the model exceeds maximum number of iterations, which could be led by a big amount of features.

In [ ]:
# def reset_xy (X, y):
#     X_train = X.copy()
#     y_train = y.copy()
#     X_train = X_train.drop(['final weight'], axis = 'columns')
#     return X_train, y_train

In [ ]:
# X_train, y_train = reset_xy(X, y)

In [ ]:
# num_no_fw = X_train[['Age', 'Capital Gain', 'Capital Loss', 'Hours per week']]
# scale_numerical(num_no_fw)

In [ ]:
# encode_edu()
# X_train = dumm_categorical(categorical_features_df, X_train)

In [ ]:
# model = sm.Logit(y_train, X_train).fit()
# print(model.summary())

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))

# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))

The model still performs san in minority class detection

## Same model, but with Capital paremeters logged

In [ ]:
# X_train, y_train = reset_xy(X, y)

In [ ]:
# def capital_log():
#     X_train['Capital Gain'] = np.log(1+ X_train['Capital Gain'])
#     X_train['Capital Loss'] = np.log(1+ X_train['Capital Loss'])
    
# capital_log()

In [ ]:
# num_no_capital = X_train[['Age', 'Hours per week']]
# scale_numerical(num_no_capital)

In [ ]:
# X_train.head(2)

In [ ]:
# encode_edu()
# X_train = dumm_categorical(categorical_features_df, X_train)

In [ ]:
# X_train.head()

In [ ]:
# model = sm.Logit(y_train, X_train).fit()
# print(model.summary())

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))
# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))

## Logistic regression with previous data transformation

In [ ]:
# X_train, y_train = reset_xy(X, y)

For this modela all parameters, that have huge imbalance in their values, are changes to binary with categories:
1. Most popular alue or the feature
2. All other values together

In [ ]:
# def balance_predictors():
#     X_train['Ethnic group'] = np.where(X_train['Ethnic group'] != ' White', 'Other', X_train['Ethnic group'])
#     X_train['Country'] = np.where(X_train['Country'] != ' United-States', 'Other', X_train['Country'])
#     X_train['Workclass'] = np.where(X_train['Workclass'] != ' Private', 'Other', X_train['Workclass'])
#     X_train['Marital Status'] = np.where(((X_train['Marital Status'] == ' Widowed') |
#                                           (X_train['Marital Status'] == ' Married-spouse-absent') |
#                                           (X_train['Marital Status'] == ' Separated')), 
#                                          'Other', X_train['Marital Status'])
#     X_train['Occupation'] = np.where(((X_train['Occupation'] == ' Adm-clerical') |
#                                       (X_train['Occupation'] == ' Armed-Forces') |
#                                       (X_train['Occupation'] == ' Craft-repair') |
#                                       (X_train['Occupation'] == ' Machine-op-inspct') |
#                                       (X_train['Occupation'] == ' Priv-house-serv') |
#                                       (X_train['Occupation'] == ' Transport-moving')), 
#                                      'Other', X_train['Occupation'])
    
# balance_predictors()
# X_train.sample(3)

In [ ]:
# encode_edu()

# capital_log()

# scale_numerical(num_no_fw)

In [ ]:
# X_train = dumm_categorical(categorical_features_df, X_train)

In [ ]:
# model = sm.Logit(y_train, X_train).fit()
# print(model.summary())

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))

# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))

## Oversampling target

In [ ]:
# count_class_0, count_class_1 = df['Income'].value_counts()

# y0 = df[df['Income'] == 0]
# y1 = df[df['Income'] == 1]

In [ ]:
# print(y0.shape)
# print(y1.shape)

In [ ]:
# y1_over = y1.sample(count_class_0, replace = True)

In [ ]:
# df = pd.concat([y0, y1_over], axis = 0)

In [ ]:
# df.shape

In [ ]:
# X, y = reset_xy(df)

In [ ]:
# balance_predictors()

In [ ]:
# encode_edu()

In [ ]:
# capital_log()

In [ ]:
# num_no_capital = X[['Age', 'Hours per week']]
# scale_numerical(num_no_capital)

In [ ]:
# categorical_features_df = X[['Workclass', 'Marital Status', 'Relationship', 'Ethnic group', 'Country']]
# X = dumm_categorical(categorical_features_df, X)

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)
# X_train.sample(3)

In [ ]:
# model = sm.Logit(y_train, X_train).fit()
# print(model.summary())

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))

# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))