In [19]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats
import statsmodels.api as sm
from sklearn.preprocessing import StandardScaler, OrdinalEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

from sklearn.utils import shuffle

Here the results from 'Adult EDA" file are going to be used

In [ ]:
# %run "Adult EDA.ipynb"

In [50]:
adult_columns = [
    "Age",
    "Workclass",
    "final weight",
    "Education",
    "Education-Num",
    "Marital Status",
    "Occupation",
    "Relationship",
    "Ethnic group",
    "Sex",
    "Capital Gain",
    "Capital Loss",
    "Hours per week",
    "Country",
    "Income",
]

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data", 
                 header = None, names = adult_columns)

In [51]:
df = df.drop(['Education-Num'], axis = 'columns')

In [52]:
_ = df['Income'].replace({' <=50K': 0, 
                             ' >50K': 1}, 
                            inplace = True)

In [70]:
X_df = df.drop(['Income'], axis = 'columns')
y_df = df['Income']

In [71]:
X, X_test, y, y_test = train_test_split(X_df, y_df, test_size= 0.2)

## 1. Features preprocessing

First all variables have to be transformed to numerical format to feed them to Logit function:

In [72]:
X_train = X.copy()
y_train = y.copy()

In [73]:
numerical_features_list = ['Age', 'Capital Gain', 'Capital Loss', 'Hours per week', 'final weight']
numerical_features_df = X_train[numerical_features_list]
numerical_features_df

       Age  Capital Gain  Capital Loss  Hours per week  final weight
29900   38             0             0              65         91039
415     35             0             0              50         92440
21771   27             0             0              50        399904
31137   35             0             0              50        185366
29980   20             0             0              55        203027
...    ...           ...           ...             ...           ...
16947   34          4064             0              40         34848
30691   20             0             0              40        182342
26072   24             0             0              30        180931
22745   37          2105             0              50        154641
10771   46         99999             0              72        198660

[26048 rows x 5 columns]

In [74]:
stand_scaler = StandardScaler()

In [75]:
def scale_numerical(numerical_features):
    X_train[numerical_features.columns.values] = stand_scaler.fit_transform(numerical_features.values)
    
scale_numerical(numerical_features_df)

In [76]:
X_train.sample()

,Age,Workclass,final weight,Education,Marital Status,Occupation,Relationship,Ethnic group,Sex,Capital Gain,Capital Loss,Hours per week,Country
18197,2.07318,Local-gov,0.637326,HS-grad,Divorced,Protective-serv,Not-in-family,Black,Male,-0.145898,-0.21595,-1.648511,United-States

In this dataset we have only one feature, where the order matters - Education. Let's transform it using OrdinalEncoder.

In [77]:
edu_encoder = OrdinalEncoder(categories=[[' Preschool',' 1st-4th',' 5th-6th',' 7th-8th',' 9th',' 10th',' 11th',
                                      ' 12th',' HS-grad',' Some-college',' Assoc-voc',' Assoc-acdm', 
                                      ' Bachelors',' Masters',' Prof-school',' Doctorate']])

In [78]:
def encode_edu():
    X_train[['Education']] = edu_encoder.fit_transform(X_train[['Education']])
    
encode_edu()

For all the rest of categorical features the order does not matter, hense we can apply 'dummies' method to them

In [79]:
categorical_features_df = X_train[['Workclass', 'Marital Status', 'Occupation', 'Relationship', 'Ethnic group', 'Sex', 'Country']]

In [80]:
def dumm_categorical(categolical_df: pd.DataFrame, x_df:pd.DataFrame) -> pd.DataFrame:
    for col in categolical_df:
        dum_df = pd.get_dummies(x_df[col], drop_first=True, columns = x_df[col].unique(), prefix=col)
        x_df = x_df.drop(col, axis = 'columns')
        x_df = pd.concat([x_df, dum_df], axis=1, join='inner')
    return x_df
X_train = dumm_categorical(categorical_features_df, X_train)
X_train.sample()

,Age,final weight,Education,Capital Gain,Capital Loss,Hours per week,Workclass_ Federal-gov,Workclass_ Local-gov,Workclass_ Never-worked,Workclass_ Private,...,Country_ Portugal,Country_ Puerto-Rico,Country_ Scotland,Country_ South,Country_ Taiwan,Country_ Thailand,Country_ Trinadad&Tobago,Country_ United-States,Country_ Vietnam,Country_ Yugoslavia
397,-1.36008,-0.501548,8.0,-0.145898,-0.21595,-0.436865,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [81]:
# X_train = shuffle(X_train)
# X_train.head()

In [82]:
X_train.head()

,Age,final weight,Education,Capital Gain,Capital Loss,Hours per week,Workclass_ Federal-gov,Workclass_ Local-gov,Workclass_ Never-worked,Workclass_ Private,...,Country_ Portugal,Country_ Puerto-Rico,Country_ Scotland,Country_ South,Country_ Taiwan,Country_ Thailand,Country_ Trinadad&Tobago,Country_ United-States,Country_ Vietnam,Country_ Yugoslavia
29900,-0.045215,-0.942353,13.0,-0.145898,-0.21595,1.986428,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
415,-0.264359,-0.929003,7.0,-0.145898,-0.21595,0.774781,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
21771,-0.848744,2.000714,8.0,-0.145898,-0.21595,0.774781,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31137,-0.264359,-0.043544,12.0,-0.145898,-0.21595,0.774781,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
29980,-1.360080,0.124742,8.0,-0.145898,-0.21595,1.178663,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0

In [83]:
y_train.head()

29900    1
415      1
21771    0
31137    0
29980    0
Name: Income, dtype: int64

## Initial model without changes in data

In [84]:
model = sm.Logit(y_train, X_train).fit()
print(model.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.320336
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Income   No. Observations:                26048
Model:                          Logit   Df Residuals:                    25964
Method:                           MLE   Df Model:                           83
Date:                Wed, 29 Mar 2023   Pseudo R-squ.:                  0.4186
Time:                        23:23:34   Log-Likelihood:                -8344.1
converged:                      False   LL-Null:                       -14353.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=========================================================================================================
                                            coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
Age                                       0.3362      0.025     13.625      0.000       0.288       0.385
final weight                              0.0589      0.020      2.919      0.004       0.019       0.098
Education                                 0.2569      0.010     25.515      0.000       0.237       0.277
Capital Gain                              2.2969      0.083     27.642      0.000       2.134       2.460
Capital Loss                              0.2608      0.017     15.695      0.000       0.228       0.293
Hours per week                            0.3670      0.022     16.497      0.000       0.323       0.411
Workclass_ Federal-gov                    1.5979   3.56e+06   4.49e-07      1.000   -6.97e+06    6.97e+06
Workclass_ Local-gov                      0.8754   3.56e+06   2.46e-07      1.000   -6.97e+06    6.97e+06
Workclass_ Never-worked                  -9.3562    232.568     -0.040      0.968    -465.181     446.468
Workclass_ Private                        1.0403   3.56e+06   2.93e-07      1.000   -6.97e+06    6.97e+06
Workclass_ Self-emp-inc                   1.1812   3.56e+06   3.32e-07      1.000   -6.97e+06    6.97e+06
Workclass_ Self-emp-not-inc               0.6088   3.56e+06   1.71e-07      1.000   -6.97e+06    6.97e+06
Workclass_ State-gov                      0.7371   3.56e+06   2.07e-07      1.000   -6.97e+06    6.97e+06
Workclass_ Without-pay                  -20.0896   3.56e+06  -5.65e-06      1.000   -6.97e+06    6.97e+06
Marital Status_ Married-AF-spouse        -2.4997      0.670     -3.729      0.000      -3.814      -1.186
Marital Status_ Married-civ-spouse       -2.9397      0.283    -10.378      0.000      -3.495      -2.385
Marital Status_ Married-spouse-absent    -0.2837      0.256     -1.110      0.267      -0.785       0.217
Marital Status_ Never-married            -0.5678      0.095     -5.999      0.000      -0.753      -0.382
Marital Status_ Separated                -0.2808      0.181     -1.549      0.121      -0.636       0.074
Marital Status_ Widowed                  -0.0761      0.169     -0.450      0.653      -0.408       0.256
Occupation_ Adm-clerical                 -0.7154   3.56e+06  -2.01e-07      1.000   -6.97e+06    6.97e+06
Occupation_ Armed-Forces                 -1.6750   3.56e+06  -4.71e-07      1.000   -6.97e+06    6.97e+06
Occupation_ Craft-repair                 -0.6527   3.56e+06  -1.84e-07      1.000   -6.97e+06    6.97e+06
Occupation_ Exec-managerial               0.1509   3.56e+06   4.24e-08      1.000   -6.97e+06    6.97e+06
Occupation_ Farming-fishing              -1.6824   3.56e+06  -4.73e-07      1.000   -6.97e+06    6.97e+06
Occupation_ Handlers-cleaners            -1.3406   3.56e+06  -3.77e-07      1.000   -6.97e+06    6.97e+06
Occupation_ Machine-op-inspct            -0.9927   3.56e+06  -2.79e-07      1.000   -6.97e+06    6.97e+06
Occupation_ Other-service                -1.5164   3.56e+06  -4.26e-07      1.000   -6.97e+06    6.97e+06
Occupation_ Priv-house-serv              -4.1512   3.56e+06  -1.17e-06      1.000   -6.97e+06    6.97e+06
Occupation_ Prof-specialty               -0.0732   3.56e+06  -2.06e-08      1.000   -6.97e+06    6.97e+06
Occupation_ Protective-serv              -0.1745   3.56e+06  -4.91e-08      1.000   -6.97e+06    6.97e+06
Occupation_ Sales                        -0.4060   3.56e+06  -1.14e-07      1.000   -6.97e+06    6.97e+06
Occupation_ Tech-support                  0.0129   3.56e+06   3.62e-09      1.000   -6.97e+06    6.97e+06
Occupation_ Transport-moving             -0.8326   3.56e+06  -2.34e-07      1.000   -6.97e+06    6.97e+06
Relationship_ Not-in-family              -4.5575      0.284    -16.020      0.000      -5.115      -4.000
Relationship_ Other-relative             -4.5273      0.347    -13.038      0.000      -5.208      -3.847
Relationship_ Own-child                  -5.7096      0.324    -17.637      0.000      -6.344      -5.075
Relationship_ Unmarried                  -4.8036      0.289    -16.635      0.000      -5.370      -4.238
Relationship_ Wife                        1.0323      0.112      9.202      0.000       0.812       1.252
Ethnic group_ Asian-Pac-Islander         -0.8717      0.258     -3.373      0.001      -1.378      -0.365
Ethnic group_ Black                      -0.9702      0.211     -4.597      0.000      -1.384      -0.557
Ethnic group_ Other                      -1.4292      0.382     -3.745      0.000      -2.177      -0.681
Ethnic group_ White                      -0.7294      0.196     -3.729      0.000      -1.113      -0.346
Sex_ Male                                 0.6522      0.086      7.611      0.000       0.484       0.820
Country_ Cambodia                         1.9503      0.718      2.715      0.007       0.542       3.358
Country_ Canada                           0.0908      0.322      0.282      0.778      -0.541       0.722
Country_ China                           -0.5991      0.418     -1.434      0.152      -1.418       0.220
Country_ Columbia                        -2.5806      1.109     -2.327      0.020      -4.754      -0.407
Country_ Cuba                             0.0121      0.371      0.033      0.974      -0.716       0.740
Country_ Dominican-Republic             -14.3457    377.238     -0.038      0.970    -753.718     725.027
Country_ Ecuador                         -1.3804      1.007     -1.371      0.170      -3.354       0.593
Country_ El-Salvador                     -0.7999      0.549     -1.458      0.145      -1.875       0.275
Country_ England                          0.2520      0.377      0.668      0.504      -0.487       0.991
Country_ France                           0.3933      0.553      0.711      0.477      -0.691       1.478
Country_ Germany                          0.0158      0.317      0.050      0.960      -0.606       0.638
Country_ Greece                          -0.7024      0.620     -1.133      0.257      -1.918       0.513
Country_ Guatemala                       -0.5035      0.772     -0.652      0.514      -2.017       1.010
Country_ Haiti                            0.1016      0.666      0.153      0.879      -1.203       1.406
Country_ Holand-Netherlands             -13.8095   3835.819     -0.004      0.997   -7531.877    7504.258
Country_ Honduras                        -1.2856      2.304     -0.558      0.577      -5.800       3.229
Country_ Hong                            -0.1644      0.678     -0.242      0.808      -1.493       1.165
Country_ Hungary                        -20.0246   1.74e+04     -0.001      0.999    -3.4e+04     3.4e+04
Country_ India                           -0.4030      0.361     -1.117      0.264      -1.110       0.304
Country_ Iran                            -0.5888      0.499     -1.179      0.238      -1.568       0.390
Country_ Ireland                          0.4554      0.731      0.623      0.533      -0.978       1.888
Country_ Italy                            0.5566      0.403      1.380      0.168      -0.234       1.347
Country_ Jamaica                         -0.1036      0.534     -0.194      0.846      -1.150       0.942
Country_ Japan                            0.6262      0.459      1.366      0.172      -0.273       1.525
Country_ Laos                            -0.0269      0.896     -0.030      0.976      -1.782       1.729
Country_ Mexico                          -0.8768      0.279     -3.138      0.002      -1.424      -0.329
Country_ Nicaragua                       -1.1301      1.091     -1.036      0.300      -3.268       1.008
Country_ Outlying-US(Guam-USVI-etc)     -16.4419   2705.616     -0.006      0.995   -5319.352    5286.468
Country_ Peru                            -0.9126      0.901     -1.013      0.311      -2.678       0.853
Country_ Philippines                      0.4216      0.308      1.371      0.170      -0.181       1.024
Country_ Poland                          -0.2709      0.485     -0.559      0.576      -1.222       0.680
Country_ Portugal                        -0.4502      0.750     -0.600      0.548      -1.920       1.020
Country_ Puerto-Rico                     -0.6325      0.426     -1.484      0.138      -1.468       0.203
Country_ Scotland                        -0.5847      0.903     -0.648      0.517      -2.354       1.185
Country_ South                           -1.2109      0.487     -2.488      0.013      -2.165      -0.257
Country_ Taiwan                           0.0126      0.508      0.025      0.980      -0.983       1.009
Country_ Thailand                        -0.2889      0.985     -0.293      0.769      -2.220       1.642
Country_ Trinadad&Tobago                 -1.5376      1.141     -1.348      0.178      -3.773       0.698
Country_ United-States                   -0.1811      0.141     -1.282      0.200      -0.458       0.096
Country_ Vietnam                         -0.8020      0.682     -1.176      0.239      -2.138       0.534
Country_ Yugoslavia                       0.0579      0.760      0.076      0.939      -1.432       1.547
=========================================================================================================

/Users/nadiiaduiunova/opt/anaconda3/envs/final_env/lib/python3.9/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))

# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))

According to Logit Regression Results there are 2 statistically insignificant features: final weight and occupation. Let's remove them for the following models

## Same model, but without 'final weight'

In [85]:
def reset_xy (X, y):
    X_train = X.copy()
    y_train = y.copy()
    X_train = X_train.drop(['final weight'], axis = 'columns')
    return X_train, y_train

In [86]:
X_train, y_train = reset_xy(X, y)

In [87]:
num_no_fw = X_train[['Age', 'Capital Gain', 'Capital Loss', 'Hours per week']]
scale_numerical(num_no_fw)

In [88]:
encode_edu()
X_train = dumm_categorical(categorical_features_df, X_train)

In [89]:
model = sm.Logit(y_train, X_train).fit()
print(model.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.320499
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Income   No. Observations:                26048
Model:                          Logit   Df Residuals:                    25965
Method:                           MLE   Df Model:                           82
Date:                Wed, 29 Mar 2023   Pseudo R-squ.:                  0.4183
Time:                        23:26:38   Log-Likelihood:                -8348.3
converged:                      False   LL-Null:                       -14353.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=========================================================================================================
                                            coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
Age                                       0.3320      0.025     13.485      0.000       0.284       0.380
Education                                 0.2567      0.010     25.499      0.000       0.237       0.276
Capital Gain                              2.2986      0.083     27.658      0.000       2.136       2.461
Capital Loss                              0.2606      0.017     15.700      0.000       0.228       0.293
Hours per week                            0.3657      0.022     16.445      0.000       0.322       0.409
Workclass_ Federal-gov                    1.5879        nan        nan        nan         nan         nan
Workclass_ Local-gov                      0.8685        nan        nan        nan         nan         nan
Workclass_ Never-worked                  -5.9315     41.343     -0.143      0.886     -86.963      75.100
Workclass_ Private                        1.0361        nan        nan        nan         nan         nan
Workclass_ Self-emp-inc                   1.1708        nan        nan        nan         nan         nan
Workclass_ Self-emp-not-inc               0.6023        nan        nan        nan         nan         nan
Workclass_ State-gov                      0.7311        nan        nan        nan         nan         nan
Workclass_ Without-pay                  -20.0119        nan        nan        nan         nan         nan
Marital Status_ Married-AF-spouse        -2.5219      0.670     -3.762      0.000      -3.836      -1.208
Marital Status_ Married-civ-spouse       -2.9695      0.283    -10.488      0.000      -3.524      -2.415
Marital Status_ Married-spouse-absent    -0.2954      0.256     -1.155      0.248      -0.796       0.206
Marital Status_ Never-married            -0.5675      0.095     -5.998      0.000      -0.753      -0.382
Marital Status_ Separated                -0.2715      0.181     -1.498      0.134      -0.627       0.084
Marital Status_ Widowed                  -0.0789      0.169     -0.466      0.641      -0.411       0.253
Occupation_ Adm-clerical                 -0.7122        nan        nan        nan         nan         nan
Occupation_ Armed-Forces                 -1.6211        nan        nan        nan         nan         nan
Occupation_ Craft-repair                 -0.6509        nan        nan        nan         nan         nan
Occupation_ Exec-managerial               0.1522        nan        nan        nan         nan         nan
Occupation_ Farming-fishing              -1.6966        nan        nan        nan         nan         nan
Occupation_ Handlers-cleaners            -1.3377        nan        nan        nan         nan         nan
Occupation_ Machine-op-inspct            -0.9921        nan        nan        nan         nan         nan
Occupation_ Other-service                -1.5215        nan        nan        nan         nan         nan
Occupation_ Priv-house-serv              -4.1766        nan        nan        nan         nan         nan
Occupation_ Prof-specialty               -0.0706        nan        nan        nan         nan         nan
Occupation_ Protective-serv              -0.1680        nan        nan        nan         nan         nan
Occupation_ Sales                        -0.4044        nan        nan        nan         nan         nan
Occupation_ Tech-support                  0.0156        nan        nan        nan         nan         nan
Occupation_ Transport-moving             -0.8315        nan        nan        nan         nan         nan
Relationship_ Not-in-family              -4.5831      0.284    -16.114      0.000      -5.141      -4.026
Relationship_ Other-relative             -4.5538      0.347    -13.107      0.000      -5.235      -3.873
Relationship_ Own-child                  -5.7410      0.324    -17.738      0.000      -6.375      -5.107
Relationship_ Unmarried                  -4.8332      0.289    -16.745      0.000      -5.399      -4.267
Relationship_ Wife                        1.0317      0.112      9.200      0.000       0.812       1.251
Ethnic group_ Asian-Pac-Islander         -0.8613      0.258     -3.336      0.001      -1.367      -0.355
Ethnic group_ Black                      -0.9061      0.210     -4.320      0.000      -1.317      -0.495
Ethnic group_ Other                      -1.4067      0.382     -3.683      0.000      -2.155      -0.658
Ethnic group_ White                      -0.6951      0.195     -3.562      0.000      -1.078      -0.313
Sex_ Male                                 0.6578      0.086      7.680      0.000       0.490       0.826
Country_ Cambodia                         1.9888      0.717      2.774      0.006       0.584       3.394
Country_ Canada                           0.0973      0.322      0.303      0.762      -0.533       0.728
Country_ China                           -0.5837      0.417     -1.400      0.161      -1.401       0.233
Country_ Columbia                        -2.5545      1.110     -2.300      0.021      -4.731      -0.378
Country_ Cuba                             0.0415      0.371      0.112      0.911      -0.685       0.768
Country_ Dominican-Republic             -14.3536    379.421     -0.038      0.970    -758.004     729.297
Country_ Ecuador                         -1.3711      1.005     -1.365      0.172      -3.340       0.598
Country_ El-Salvador                     -0.7839      0.550     -1.424      0.154      -1.863       0.295
Country_ England                          0.2320      0.377      0.615      0.539      -0.508       0.972
Country_ France                           0.3837      0.551      0.697      0.486      -0.695       1.463
Country_ Germany                          0.0119      0.317      0.038      0.970      -0.609       0.633
Country_ Greece                          -0.7307      0.621     -1.177      0.239      -1.947       0.486
Country_ Guatemala                       -0.4653      0.769     -0.605      0.545      -1.973       1.043
Country_ Haiti                            0.0826      0.666      0.124      0.901      -1.222       1.387
Country_ Holand-Netherlands             -13.9037   3836.029     -0.004      0.997   -7532.382    7504.574
Country_ Honduras                        -1.3004      2.359     -0.551      0.581      -5.923       3.323
Country_ Hong                            -0.1224      0.676     -0.181      0.856      -1.448       1.203
Country_ Hungary                        -19.9808   1.68e+04     -0.001      0.999   -3.29e+04    3.28e+04
Country_ India                           -0.4031      0.361     -1.116      0.264      -1.111       0.305
Country_ Iran                            -0.5957      0.499     -1.194      0.232      -1.573       0.382
Country_ Ireland                          0.4282      0.730      0.586      0.558      -1.003       1.860
Country_ Italy                            0.5549      0.404      1.375      0.169      -0.236       1.346
Country_ Jamaica                         -0.1238      0.534     -0.232      0.816      -1.170       0.922
Country_ Japan                            0.6262      0.457      1.369      0.171      -0.270       1.522
Country_ Laos                             0.0189      0.891      0.021      0.983      -1.727       1.764
Country_ Mexico                          -0.8215      0.278     -2.950      0.003      -1.367      -0.276
Country_ Nicaragua                       -1.0408      1.088     -0.956      0.339      -3.174       1.092
Country_ Outlying-US(Guam-USVI-etc)     -15.0123   1368.539     -0.011      0.991   -2697.300    2667.276
Country_ Peru                            -0.8522      0.904     -0.943      0.346      -2.623       0.919
Country_ Philippines                      0.4397      0.307      1.433      0.152      -0.162       1.041
Country_ Poland                          -0.2754      0.484     -0.569      0.569      -1.224       0.673
Country_ Portugal                        -0.4733      0.752     -0.630      0.529      -1.946       1.000
Country_ Puerto-Rico                     -0.6322      0.427     -1.482      0.138      -1.468       0.204
Country_ Scotland                        -0.5857      0.902     -0.649      0.516      -2.353       1.182
Country_ South                           -1.2025      0.488     -2.466      0.014      -2.158      -0.247
Country_ Taiwan                           0.0249      0.508      0.049      0.961      -0.971       1.021
Country_ Thailand                        -0.2856      0.979     -0.292      0.771      -2.205       1.634
Country_ Trinadad&Tobago                 -1.5437      1.141     -1.352      0.176      -3.781       0.693
Country_ United-States                   -0.1873      0.141     -1.327      0.185      -0.464       0.089
Country_ Vietnam                         -0.7941      0.682     -1.164      0.244      -2.131       0.543
Country_ Yugoslavia                       0.0836      0.760      0.110      0.912      -1.406       1.573
=========================================================================================================

/Users/nadiiaduiunova/opt/anaconda3/envs/final_env/lib/python3.9/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))

# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))

The model still performs san in minority class detection

## Same model, but with Capital paremeters logged

In [90]:
X_train, y_train = reset_xy(X, y)

In [91]:
def capital_log():
    X_train['Capital Gain'] = np.log(1+ X_train['Capital Gain'])
    X_train['Capital Loss'] = np.log(1+ X_train['Capital Loss'])
    
capital_log()

In [92]:
num_no_capital = X_train[['Age', 'Hours per week']]
scale_numerical(num_no_capital)

In [93]:
X_train.head(2)

,Age,Workclass,Education,Marital Status,Occupation,Relationship,Ethnic group,Sex,Capital Gain,Capital Loss,Hours per week,Country
29900,-0.045215,Private,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,0.0,0.0,1.986428,United-States
415,-0.264359,Private,12th,Divorced,Craft-repair,Not-in-family,White,Male,0.0,0.0,0.774781,United-States

In [94]:
encode_edu()
X_train = dumm_categorical(categorical_features_df, X_train)

In [95]:
X_train.head()

,Age,Education,Capital Gain,Capital Loss,Hours per week,Workclass_ Federal-gov,Workclass_ Local-gov,Workclass_ Never-worked,Workclass_ Private,Workclass_ Self-emp-inc,...,Country_ Portugal,Country_ Puerto-Rico,Country_ Scotland,Country_ South,Country_ Taiwan,Country_ Thailand,Country_ Trinadad&Tobago,Country_ United-States,Country_ Vietnam,Country_ Yugoslavia
29900,-0.045215,13.0,0.0,0.0,1.986428,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
415,-0.264359,7.0,0.0,0.0,0.774781,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
21771,-0.848744,8.0,0.0,0.0,0.774781,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
31137,-0.264359,12.0,0.0,0.0,0.774781,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
29980,-1.360080,8.0,0.0,0.0,1.178663,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [96]:
model = sm.Logit(y_train, X_train).fit()
print(model.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.332342
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Income   No. Observations:                26048
Model:                          Logit   Df Residuals:                    25965
Method:                           MLE   Df Model:                           82
Date:                Wed, 29 Mar 2023   Pseudo R-squ.:                  0.3969
Time:                        23:27:28   Log-Likelihood:                -8656.9
converged:                      False   LL-Null:                       -14353.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=========================================================================================================
                                            coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
Age                                       0.3381      0.024     13.987      0.000       0.291       0.385
Education                                 0.2617      0.010     26.479      0.000       0.242       0.281
Capital Gain                              0.2064      0.007     28.612      0.000       0.192       0.220
Capital Loss                              0.1511      0.010     14.465      0.000       0.131       0.172
Hours per week                            0.3655      0.022     16.773      0.000       0.323       0.408
Workclass_ Federal-gov                    1.5409   2.35e+06   6.55e-07      1.000   -4.61e+06    4.61e+06
Workclass_ Local-gov                      0.8249   2.35e+06   3.51e-07      1.000   -4.61e+06    4.61e+06
Workclass_ Never-worked                 -14.8934   3562.719     -0.004      0.997   -6997.695    6967.908
Workclass_ Private                        1.0176   2.35e+06   4.33e-07      1.000   -4.61e+06    4.61e+06
Workclass_ Self-emp-inc                   1.1809   2.35e+06   5.02e-07      1.000   -4.61e+06    4.61e+06
Workclass_ Self-emp-not-inc               0.6035   2.35e+06   2.57e-07      1.000   -4.61e+06    4.61e+06
Workclass_ State-gov                      0.6938   2.35e+06   2.95e-07      1.000   -4.61e+06    4.61e+06
Workclass_ Without-pay                  -18.1508   2.35e+06  -7.72e-06      1.000   -4.61e+06    4.61e+06
Marital Status_ Married-AF-spouse        -2.8776      0.666     -4.318      0.000      -4.184      -1.572
Marital Status_ Married-civ-spouse       -3.3341      0.279    -11.949      0.000      -3.881      -2.787
Marital Status_ Married-spouse-absent    -0.2676      0.244     -1.097      0.273      -0.746       0.211
Marital Status_ Never-married            -0.5238      0.090     -5.822      0.000      -0.700      -0.347
Marital Status_ Separated                -0.2455      0.171     -1.432      0.152      -0.582       0.091
Marital Status_ Widowed                  -0.0825      0.162     -0.510      0.610      -0.399       0.235
Occupation_ Adm-clerical                 -0.7107   2.35e+06  -3.02e-07      1.000   -4.61e+06    4.61e+06
Occupation_ Armed-Forces                 -1.5872   2.35e+06  -6.75e-07      1.000   -4.61e+06    4.61e+06
Occupation_ Craft-repair                 -0.6488   2.35e+06  -2.76e-07      1.000   -4.61e+06    4.61e+06
Occupation_ Exec-managerial               0.1665   2.35e+06   7.08e-08      1.000   -4.61e+06    4.61e+06
Occupation_ Farming-fishing              -1.6494   2.35e+06  -7.01e-07      1.000   -4.61e+06    4.61e+06
Occupation_ Handlers-cleaners            -1.3579   2.35e+06  -5.77e-07      1.000   -4.61e+06    4.61e+06
Occupation_ Machine-op-inspct            -1.0350   2.35e+06   -4.4e-07      1.000   -4.61e+06    4.61e+06
Occupation_ Other-service                -1.5417   2.35e+06  -6.55e-07      1.000   -4.61e+06    4.61e+06
Occupation_ Priv-house-serv              -2.4846   2.35e+06  -1.06e-06      1.000   -4.61e+06    4.61e+06
Occupation_ Prof-specialty               -0.0591   2.35e+06  -2.51e-08      1.000   -4.61e+06    4.61e+06
Occupation_ Protective-serv              -0.1488   2.35e+06  -6.33e-08      1.000   -4.61e+06    4.61e+06
Occupation_ Sales                        -0.4079   2.35e+06  -1.73e-07      1.000   -4.61e+06    4.61e+06
Occupation_ Tech-support                  0.0001   2.35e+06   4.97e-11      1.000   -4.61e+06    4.61e+06
Occupation_ Transport-moving             -0.8246   2.35e+06  -3.51e-07      1.000   -4.61e+06    4.61e+06
Relationship_ Not-in-family              -4.9002      0.281    -17.457      0.000      -5.450      -4.350
Relationship_ Other-relative             -4.8285      0.337    -14.331      0.000      -5.489      -4.168
Relationship_ Own-child                  -6.0100      0.315    -19.101      0.000      -6.627      -5.393
Relationship_ Unmarried                  -5.1958      0.284    -18.265      0.000      -5.753      -4.638
Relationship_ Wife                        1.0120      0.108      9.337      0.000       0.800       1.224
Ethnic group_ Asian-Pac-Islander         -0.8923      0.253     -3.527      0.000      -1.388      -0.396
Ethnic group_ Black                      -0.9171      0.205     -4.472      0.000      -1.319      -0.515
Ethnic group_ Other                      -1.4742      0.375     -3.930      0.000      -2.209      -0.739
Ethnic group_ White                      -0.7421      0.191     -3.882      0.000      -1.117      -0.367
Sex_ Male                                 0.6366      0.081      7.835      0.000       0.477       0.796
Country_ Cambodia                         1.9569      0.705      2.775      0.006       0.575       3.339
Country_ Canada                           0.1087      0.317      0.343      0.731      -0.512       0.729
Country_ China                           -0.5651      0.415     -1.363      0.173      -1.378       0.248
Country_ Columbia                        -2.5908      1.106     -2.343      0.019      -4.758      -0.424
Country_ Cuba                             0.0424      0.363      0.117      0.907      -0.669       0.753
Country_ Dominican-Republic              -1.6879      1.074     -1.571      0.116      -3.794       0.418
Country_ Ecuador                         -1.2565      0.930     -1.352      0.177      -3.079       0.566
Country_ El-Salvador                     -0.8630      0.555     -1.556      0.120      -1.950       0.224
Country_ England                          0.2707      0.367      0.737      0.461      -0.449       0.991
Country_ France                           0.3811      0.545      0.699      0.484      -0.687       1.449
Country_ Germany                         -0.0356      0.313     -0.114      0.909      -0.648       0.577
Country_ Greece                          -0.6201      0.603     -1.028      0.304      -1.802       0.562
Country_ Guatemala                       -0.5073      0.763     -0.665      0.506      -2.003       0.988
Country_ Haiti                            0.0262      0.665      0.039      0.969      -1.278       1.330
Country_ Holand-Netherlands             -13.7367   3837.615     -0.004      0.997   -7535.325    7507.851
Country_ Honduras                        -1.2959      2.303     -0.563      0.574      -5.809       3.217
Country_ Hong                            -0.1377      0.674     -0.204      0.838      -1.459       1.184
Country_ Hungary                        -20.3837   1.85e+04     -0.001      0.999   -3.63e+04    3.63e+04
Country_ India                           -0.4503      0.358     -1.258      0.208      -1.152       0.251
Country_ Iran                            -0.4771      0.472     -1.011      0.312      -1.402       0.448
Country_ Ireland                          0.2930      0.735      0.398      0.690      -1.148       1.734
Country_ Italy                            0.5725      0.401      1.428      0.153      -0.213       1.358
Country_ Jamaica                         -0.1371      0.520     -0.264      0.792      -1.156       0.882
Country_ Japan                            0.5523      0.449      1.229      0.219      -0.328       1.433
Country_ Laos                            -0.0990      0.899     -0.110      0.912      -1.861       1.663
Country_ Mexico                          -0.7685      0.273     -2.817      0.005      -1.303      -0.234
Country_ Nicaragua                       -1.0126      1.086     -0.932      0.351      -3.141       1.116
Country_ Outlying-US(Guam-USVI-etc)     -42.5952   1.32e+09  -3.22e-08      1.000   -2.59e+09    2.59e+09
Country_ Peru                            -0.8453      0.898     -0.941      0.347      -2.605       0.915
Country_ Philippines                      0.4376      0.302      1.448      0.148      -0.155       1.030
Country_ Poland                          -0.2795      0.479     -0.584      0.559      -1.217       0.658
Country_ Portugal                        -0.5151      0.753     -0.684      0.494      -1.991       0.960
Country_ Puerto-Rico                     -0.5993      0.421     -1.425      0.154      -1.424       0.225
Country_ Scotland                        -0.6019      0.903     -0.667      0.505      -2.371       1.167
Country_ South                           -1.1718      0.475     -2.468      0.014      -2.102      -0.241
Country_ Taiwan                          -0.0229      0.501     -0.046      0.964      -1.004       0.958
Country_ Thailand                        -0.3086      0.978     -0.316      0.752      -2.225       1.608
Country_ Trinadad&Tobago                 -1.5412      1.135     -1.358      0.174      -3.765       0.683
Country_ United-States                   -0.1769      0.139     -1.274      0.203      -0.449       0.095
Country_ Vietnam                         -0.7612      0.672     -1.132      0.257      -2.079       0.556
Country_ Yugoslavia                       0.0760      0.762      0.100      0.921      -1.417       1.569
=========================================================================================================

/Users/nadiiaduiunova/opt/anaconda3/envs/final_env/lib/python3.9/site-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))
# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))

## Logistic regression with previous data transformation

In [97]:
X_train, y_train = reset_xy(X, y)

For this modela all parameters, that have huge imbalance in their values, are changes to binary with categories:
1. Most popular alue or the feature
2. All other values together

In [98]:
def balance_predictors():
    X_train['Ethnic group'] = np.where(X_train['Ethnic group'] != ' White', 'Other', X_train['Ethnic group'])
    X_train['Country'] = np.where(X_train['Country'] != ' United-States', 'Other', X_train['Country'])
    X_train['Workclass'] = np.where(X_train['Workclass'] != ' Private', 'Other', X_train['Workclass'])
    
balance_predictors()
X_train.sample(3)

,Age,Workclass,Education,Marital Status,Occupation,Relationship,Ethnic group,Sex,Capital Gain,Capital Loss,Hours per week,Country
4416,21,Private,Some-college,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States
19947,34,Private,HS-grad,Divorced,Exec-managerial,Unmarried,White,Female,2977,0,50,United-States
18612,30,Private,Bachelors,Widowed,Prof-specialty,Unmarried,White,Female,0,0,55,United-States

In [99]:
encode_edu()

capital_log()

scale_numerical(num_no_fw)

In [100]:
X_train.sample()

,Age,Workclass,Education,Marital Status,Occupation,Relationship,Ethnic group,Sex,Capital Gain,Capital Loss,Hours per week,Country
22269,0.246978,Private,12.0,Married-civ-spouse,Prof-specialty,Wife,White,Female,-0.145898,-0.21595,1.178663,United-States

In [101]:
X_train = dumm_categorical(categorical_features_df, X_train)

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)

In [102]:
model = sm.Logit(y_train, X_train).fit()
print(model.summary())

Optimization terminated successfully.
         Current function value: 0.323733
         Iterations 10
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Income   No. Observations:                26048
Model:                          Logit   Df Residuals:                    26014
Method:                           MLE   Df Model:                           33
Date:                Wed, 29 Mar 2023   Pseudo R-squ.:                  0.4125
Time:                        23:28:02   Log-Likelihood:                -8432.6
converged:                       True   LL-Null:                       -14353.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=========================================================================================================
                                            coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------------------------
Age                                       0.3369      0.024     13.830      0.000       0.289       0.385
Education                                 0.2599      0.010     26.268      0.000       0.240       0.279
Capital Gain                              2.2922      0.082     27.833      0.000       2.131       2.454
Capital Loss                              0.2581      0.017     15.631      0.000       0.226       0.290
Hours per week                            0.3720      0.022     16.960      0.000       0.329       0.415
Workclass_Other                          -0.1826      0.045     -4.052      0.000      -0.271      -0.094
Marital Status_ Married-AF-spouse        -3.1067      0.628     -4.947      0.000      -4.337      -1.876
Marital Status_ Married-civ-spouse       -3.6853      0.168    -21.911      0.000      -4.015      -3.356
Marital Status_ Married-spouse-absent    -0.2799      0.254     -1.102      0.270      -0.778       0.218
Marital Status_ Never-married            -0.5730      0.094     -6.095      0.000      -0.757      -0.389
Marital Status_ Separated                -0.2569      0.180     -1.429      0.153      -0.609       0.095
Marital Status_ Widowed                  -0.0936      0.169     -0.555      0.579      -0.424       0.237
Occupation_ Adm-clerical                  0.2309      0.128      1.807      0.071      -0.020       0.481
Occupation_ Armed-Forces                 -0.0502      1.558     -0.032      0.974      -3.103       3.002
Occupation_ Craft-repair                  0.1882      0.121      1.550      0.121      -0.050       0.426
Occupation_ Exec-managerial               1.0218      0.119      8.618      0.000       0.789       1.254
Occupation_ Farming-fishing              -0.9797      0.169     -5.799      0.000      -1.311      -0.649
Occupation_ Handlers-cleaners            -0.4759      0.178     -2.666      0.008      -0.826      -0.126
Occupation_ Machine-op-inspct            -0.1515      0.142     -1.066      0.286      -0.430       0.127
Occupation_ Other-service                -0.6594      0.155     -4.265      0.000      -0.962      -0.356
Occupation_ Priv-house-serv              -3.3078      1.890     -1.750      0.080      -7.012       0.397
Occupation_ Prof-specialty                0.7861      0.120      6.528      0.000       0.550       1.022
Occupation_ Protective-serv               0.6909      0.155      4.456      0.000       0.387       0.995
Occupation_ Sales                         0.4353      0.123      3.538      0.000       0.194       0.677
Occupation_ Tech-support                  0.9033      0.149      6.064      0.000       0.611       1.195
Occupation_ Transport-moving              0.0126      0.138      0.091      0.928      -0.259       0.284
Relationship_ Not-in-family              -5.2831      0.172    -30.751      0.000      -5.620      -4.946
Relationship_ Other-relative             -5.2444      0.273    -19.241      0.000      -5.779      -4.710
Relationship_ Own-child                  -6.4502      0.232    -27.784      0.000      -6.905      -5.995
Relationship_ Unmarried                  -5.5315      0.179    -30.852      0.000      -5.883      -5.180
Relationship_ Wife                        1.0129      0.111      9.097      0.000       0.795       1.231
Ethnic group_Other                       -0.1668      0.066     -2.519      0.012      -0.297      -0.037
Sex_ Male                                 0.6633      0.085      7.793      0.000       0.496       0.830
Country_Other                            -0.1455      0.072     -2.029      0.042      -0.286      -0.005
=========================================================================================================

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))

# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))

## Oversampling target

In [ ]:
# count_class_0, count_class_1 = df['Income'].value_counts()

# y0 = df[df['Income'] == 0]
# y1 = df[df['Income'] == 1]

In [ ]:
# print(y0.shape)
# print(y1.shape)

In [ ]:
# y1_over = y1.sample(count_class_0, replace = True)

In [ ]:
# df = pd.concat([y0, y1_over], axis = 0)

In [ ]:
# df.shape

In [ ]:
# X, y = reset_xy(df)

In [ ]:
# balance_predictors()

In [ ]:
# encode_edu()

In [ ]:
# capital_log()

In [ ]:
# num_no_capital = X[['Age', 'Hours per week']]
# scale_numerical(num_no_capital)

In [ ]:
# categorical_features_df = X[['Workclass', 'Marital Status', 'Relationship', 'Ethnic group', 'Country']]
# X = dumm_categorical(categorical_features_df, X)

In [ ]:
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.2)
# X_train.sample(3)

In [ ]:
# model = sm.Logit(y_train, X_train).fit()
# print(model.summary())

In [ ]:
# y_hat = model.predict(X_test)
# prediction = list(map(round, y_hat))

# print('Actual values', list(y_test.values)[:10])
# print('Predictions :', prediction[:10])

In [ ]:
# cm = confusion_matrix(y_test, prediction) 
# s = sns.heatmap(cm, annot = True)
# s.set(xlabel='Predict', ylabel='Truth')
# print(cm)
# print(classification_report(y_test, prediction))